<template>
    <div>
        <div class="form-row">
            <form-input title="Địa chỉ"
                        id="cla_adress"
                        type="string"
                        validData="minlenght:8"
                        required="1"
                        v-model="address.address"
                        :dataVal="address.address.value"
            ></form-input>
        </div>
        <div class="form-row">
            <div class="grid-column grid-column-4 grid-xs-column-2">
                <form-select
                        id="cla_cit_id"
                        v-model="address.cit_id"
                        :dataVal="address.cit_id.id"
                        required="1"
                        :optionsData="city_address"
                        title="Tỉnh/Thành phố"
                ></form-select>
                <form-select
                        id="cla_dis_id"
                        v-model="address.dis_id"
                        :dataVal="address.dis_id.id"
                        required="1"
                        :optionsData="districts"
                        title="Quận/Huyện "
                ></form-select>
                <form-select
                        id="cla_ward_id"
                        v-model="address.ward_id"
                        :dataVal="address.ward_id.id"
                        required="0"
                        :optionsData="wards"
                        title="Xã/Phường "
                ></form-select>
                <form-select
                        id="cla_street_id"
                        v-model="address.street_id"
                        :dataVal="address.street_id.id"
                        required="0"
                        :optionsData="streets"
                        title="Phố/Đường "
                ></form-select>
            </div>
        </div>
        <div class="form-row">
            <google-map-maker
                title="Chọn vị trí bất động sản của bạn trên bản đồ"
                v-model="address.geo_location"
                :position="address.geo_location.value"
                height="300px"
                zoom="15"
            ></google-map-maker>
        </div>
    </div>
</template>

<script>
    import FormInput from "@/components/Form/FormInput/indexv2"
    import FormSelect from "@/components/Form/FormSelect/indexv2"
    import GoogleMapMaker from "@/components/Form/GoogleMapMaker/index"
    import {find} from "lodash"

    export default {
        name: "Address",
        props:['address'],
        components: {
            FormInput,
            FormSelect,
            GoogleMapMaker
        },
        computed: {
            city_location: function () {
                return this.$store.getters.CITY_LOCATION;
            },
            city_address:function(){
                return this.$store.getters.CITY_ADDRESS;
            }
        },
        created(){
            if(this.address.dis_id.id!=0){
              this.getDistricts(this.address.cit_id.id);
            }
            if(this.address.ward_id.id!=0){
                this.getWards(this.address.dis_id.id)
            }
            if(this.address.street_id.id!=0){
                this.getStreets(this.address.dis_id.id)
            }

        },
        watch: {
            'address.cit_id.id': function () {
                if (this.address.cit_id.id != 0) {
                   this.setMapPosition(this.address.cit_id.id,'city_location');
                    this.districts = [];
                    this.resetDistrict();
                    this.resetWard();
                    this.resetStreet();
                    this.getDistricts(this.address.cit_id.id)
                }
            },
            'address.dis_id.id':function(){
                if (this.address.dis_id.id != 0) {
                    this.setMapPosition(this.address.dis_id.id,'districts');
                    this.wards = [];
                    this.streets= [];
                    this.resetWard();
                    this.resetStreet();
                    this.getWards(this.address.dis_id.id)
                    this.getStreets(this.address.dis_id.id)
                }
            },
            'address.ward_id.id':function(){
                if (this.address.ward_id.id != 0) {
                    this.setMapPosition(this.address.ward_id.id,'wards');
                }
            }
        },
        data() {
            return {
                districts: [],
                wards: [],
                streets: []
            }
        },
        methods: {
            setMapPosition(id,type){
                var find_location =  find(this[type],{id:parseInt(id)});
                if(find_location){
                   if(typeof find_location.lat != "undefined"&& find_location.lat != 0) this.address.geo_location.value = {lat:find_location.lat, lng:find_location.lng};
                }

            },
            resetDistrict() {
                this.address.dis_id = {
                    id: 0
                    , valid: false
                    , message: 'Chọn quận / huyện'
                };
                this.wards = [];
            },
            resetWard() {
                this.address.ward_id = {
                    id: 0
                    , valid: true
                    , message: 'Chọn xã/thi trấn'
                }
                this.streets = [];
            },
            resetStreet() {
                this.address.street_id = {
                    id: 0
                    , valid: true
                    , message: 'Chọn đường/phố'
                }
            },
            getDistricts(id){
                ApiGet("v2/address", {
                    where: `citid+${id},type+district`,
                    fields: 'id,name,lat,lng',
                    limit: 50
                }).then(res => {
                    this.districts = res.data.address.map(item => {
                        item.id = item.id;
                        return item;
                    });
                }).catch(error => {
                    console.log('get_district error', error);
                })
            },
            getWards(id){
                ApiGet("v2/address", {
                    where: `disid+${id},type+ward`,
                    fields: 'id,name,lat,lng',
                    limit: 50
                }).then(res => {
                    this.wards = res.data.address.map(item => {
                        item.id = item.id;
                        return item;
                    });
                }).catch(error => {
                    console.log('get_street error', error);
                })
            },
            getStreets(id){
                ApiGet("v2/address", {
                    where: `disid+${id},type+street`,
                    fields: 'id,name,lat,lng',
                    limit: 50
                }).then(res => {
                    console.log('street',res);
                    this.streets = res.data.address.map(item => {
                        item.id = item.id;
                        return item;
                    });
                }).catch(error => {
                    console.log('get_street error', error);
                })
            }
        }
    }
</script>
