<template>
    <div class="form-row">
        <div class="grid-column grid-column-3 grid-xm-column-1">
            <form-input title="Tên liên lạc"
                        id="cla_contact_name"
                        type="string"
                        validData="minlenght:8"
                        required="1"
                        v-model="contact.contact_name"
                        :dataVal="contact.contact_name.value"
            ></form-input>
            <form-input title="Số điện thoại"
                        id="cla_phone"
                        type="phone"
                        required="1"
                        v-model="contact.phone"
                        :dataVal="contact.phone.value"
            ></form-input>
            <form-input title="Email"
                        id="cla_email"
                        type="email"
                        required="0"
                        v-model="contact.email"
                        :dataVal="contact.email.value"
            ></form-input>
        </div>

    </div>
</template>

<script>
    import FormInput from "@/components/Form/FormInput/indexv2"
    export default {
        name: "Contact",
        props:['contact'],
        components:{
            FormInput
        },
        data(){
            return {
                // phone:{
                //     value: ''
                //     , valid: false
                //     , message: 'Nhập số điện thoại'
                // },
                // email:{
                //     value: ''
                //     , valid: false
                //     , message: 'Nhập email'
                // },
                // contact_name:{
                //     value: ''
                //     , valid: false
                //     , message: 'Nhập tên'
                // }
            }
        },
        computed:{
            user_info:function(){
                return this.$store.getters.USER_INFO;
            }
        },
        mounted() {
            this.contact.phone.value = this.user_info.phone;
            this.contact.email.value = this.user_info.email;
            this.contact.contact_name.value = this.user_info.fullname;
        }
    }
</script>