<template>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <router-link to="/classifieds/create">
                                    <button class="btn btn-success">
                                        <font-awesome-icon icon="pen-square" style="color: #fff; font-size: 14px; margin-right: 6px;" title="Đăng bài"></font-awesome-icon>Đăng tin
                                    </button>
                                </router-link>
                            </div>
                            <div class="form-group col-lg-2">
                                <select class="form-control" v-model="category">
                                    <option :value="0">Chuyên mục</option>
                                    <option v-for="(category,index) in categories" :key="index" :value="category.id">{{category.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <select class="form-control" v-model="city">
                                    <option :value="0">Tỉnh/Thành phố</option>
                                    <option v-for="(city_name,index) in city_names" :key="index" :value="city_name.id">{{city_name.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <select class="form-control" v-model="district">
                                    <option :value="0">Quận/Huyện</option>
                                    <option v-if="city !== 0" v-for="(list_district,index) in list_districts" :key="index" :value="list_district.id">{{list_district.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <thead>
                            <tr>
                                <th class="th_stt">STT</th>
                                <th class="th_id">ID</th>
                                <th class="th_img">Hình ảnh</th>
                                <th>Tiêu Đề</th>
                                <th>Ngày đăng</th>
                                <th class="th_status">Trạng thái</th>
                                <th class="th_action">Tùy chọn</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-cla" v-for="(classified,index) in classifieds" :key="index">
                                    <td>{{index+1}}</td>
                                    <td>{{classified.id}}</td>
                                    <td class="td_img"><img :src="classified.picture" alt=""></td>
                                    <td class="title_cla">{{classified.title}}</td>
                                    <td>{{classified.date}}</td>
                                    <td>
                                        <label class="status_active" v-if="classified.active===1">Hiển thị</label>
                                        <label class="status_no_active" v-else="">Đã khóa</label>
                                    </td>
                                    <td class="td_action">
                                        <label class="action_delete" @click="deleteCla(classified.id,classified.title)"><font-awesome-icon icon="trash-alt" style="color: #fff; font-size: 11px;" title="Xóa bài viết"></font-awesome-icon></label>
                                        <label class="action_active" @click="changeActice(classified.id,classified.title,classified.active)" v-if="classified.active===1">
                                            <font-awesome-icon icon="lock-open" style="color: #fff; font-size: 11px;" title="Khóa bài viết" ></font-awesome-icon>
                                        </label>
                                        <label class="action_no_active" @click="changeActice(classified.id,classified.title,classified.active)" v-else="">
                                            <font-awesome-icon icon="lock" style="color: #fff; font-size: 11px;"  title="Hiển thị bài viết" ></font-awesome-icon>
                                        </label>
                                        <router-link  :to="'/classifieds/'+(classified.id)">
                                            <label class="action_edit"><font-awesome-icon icon="pen-square" style="color: #fff; font-size: 11px;" title="Sửa bài viết"></font-awesome-icon></label>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="pagination">
                            <li class="page-item" @click="current_page--" v-if="current_page > 1">
                                <a class="page-link" >Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link">{{current_page}}</a>
                            </li>
                            <li class="page-item hover-point" @click="current_page++" v-if="classifieds.length === 30">
                                <label class="page-link" >Next</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import { faTrashAlt,faLockOpen,faLock,faPenSquare,faSearch } from '@fortawesome/free-solid-svg-icons'
    library.add(faTrashAlt);
    library.add(faPenSquare);
    library.add(faLockOpen);
    library.add(faLock);
    library.add(faSearch);


    export default{
        name:'index',
        mounted(){
            this.getData()
        },
        data(){
            return{
                classifieds:[],
                current_page:1,
                category:0,
                city: 0,
                district: 0,
                list_districts: [],
            }
        },
        computed:{
          access_token:function(){
              return this.$store.getters.ACCESS_TOKEN
          },
          user_id:function () {
              return this.$store.getters.USER_ID
          },
          city_names:function () {
              return this.$store.getters.CITY_ADDRESS
          },
          categories:function () {
              return this.$store.getters.CATEGORIES
          }  
        },
        watch:{
            current_page:function(){
                if( this.city !== 0 || this.category !== 0 || this.district !== 0){
                    this.claFilter();
                }else{
                   this.getData();
                }
                window.scrollTo(500, 0);
            },
            category:function () {
                this.current_page = 1;
                if(this.category==0){
                    if(this.city !== 0){
                        this.city = 0;
                        this.district = 0;
                    }else{
                        this.getData();
                    }
                }else{
                    this.claFilter();
                }
            },
            city:function () {
                this.current_page = 1;
                if(this.city==0){
                    this.getData();
                    this.district = 0;
                    if(this.category !== 0){
                        this.category = 0;
                    }else{
                        this.district = 0;
                    }
                }else{
                    this.district = 0;
                    this.claFilter();
                }
            },
            district:function () {
                this.claFilter();
            }
        },
        methods:{
            getData(){             /* API lấy dữ liệu bản ghi */
                ApiGet("v2/classifieds",{
                    fields:'id,title,active,date,cat_id,picture,type_vip,rewrite,price,list_acreage',
                    order: "date",permissions: "manage_data",
                    access_token: this.access_token,
                    where: `use_id+${this.user_id},type+3`,
                    page: this.current_page
                }).then(response =>{
                    this.classifieds = response.data.classifieds;
                    this.current_page = response.data.current_page;
                    console.log(this.classifieds);
                }).catch(error =>{
                    console.log(error);
                })
            },
            changeActice(id,title,status){          /* Thay đổi trạng thái hoạt động bài viết */
                Swal.fire({
                    title:'Bạn có muốn '+(status===1?"khóa":"hiển thị")+" bài đăng này không ?",
                    text:`${id}-${title}`,
                    cancelButtonText: 'hủy bỏ',
                    icon:'warning',
                    showCancelButton: true
                }).then((result) => {
                    if (result.value){
                        ApiPut("v2/classifieds/"+id,{active: status === 0?1:0,access_token: this.access_token}).then(response => {
                            this.getData();
                            Swal.fire(
                                'Bài đăng của bạn đã '+(status===1?"khóa !":"hiển thị !"),
                                'Thay đổi trạng thái thành công !',
                                'success'
                            )
                        }).catch(error =>{
                            console.log(error);
                        })
                    }else{
                        Swal.fire(
                            'Hủy bỏ',
                            'Hành động được hủy bỏ !',
                            'success',
                        )
                    }
                });
            },
            deleteCla(id,title){                  /* Xóa bản ghi */
                Swal.fire({
                    title:'Xóa bài viết khỏi hệ thống !',
                    text:`${id}-${title}`,
                    cancelButtonText: 'hủy bỏ',
                    icon:'warning',
                    showCancelButton: true
                }).then((result) => {
                    if (result.value) {
                        ApiDelete("v2/classifieds/"+id,{access_token: this.access_token}).then(response => {
                            this.getData();
                            Swal.fire(
                                'Đã xóa thành công !',
                                'Bài đăng của bạn đã được xóa !',
                                'success'
                            )
                        }).catch(error =>{
                            console.log(error);
                        })
                    }else{
                        Swal.fire(
                            'Hủy bỏ',
                            'Hành động được hủy bỏ !',
                            'success',
                        )
                    }
                });
            },
            claFilter(){
                if(this.city !== 0){            /* API gọi quận huyện  */
                    ApiGet("v2/address",{
                        fields: 'name,id,type,dis_id',
                        where: `citid+${this.city},type+district`
                    }).then(response =>{
                        this.list_districts = response.data.address;
                        console.log(this.list_districts);
                    }).catch(error =>{
                        console.log(error);
                    })
                }
                ApiGet("v2/classifieds",{          /* API lọc danh mục, tỉnh thành, quận huyện  */
                    fields:'id,title,active,date,cat_id,cit_id,dis_id,picture,type_vip,rewrite,price,list_acreage',
                    order: "date",
                    permissions: "manage_data",
                    access_token: this.access_token,
                    where: `use_id+${this.user_id},type+3`+(this.category !== 0 ?`,cat_id+${this.category}`:'')+(this.city !== 0 ?`,citid+${this.city}`:'')+(this.district !== 0 ?`,disid+${this.district}`:''),
                    page: this.current_page
                }).then(response =>{
                    this.classifieds = response.data.classifieds;
                    this.current_page = response.data.current_page;
                    console.log(this.classifieds);
                }).catch(error =>{
                    console.log(error);
                })
            }
        }
    }



</script>


<style lang="scss" scoped>
    .card-header{
        .search-pc{
            position: relative;
        }
        .btn-search {
            position: absolute;
            top: 0;
            right: 0px;
            border-radius: 0px 0.25rem 0.25rem 0px;
        }
    }
    .card-body{
        table{
            thead{
                tr{
                    th.th_stt {
                        width: 50px;
                    }
                    th.th_id {
                        width: 95px;
                    }
                    th.th_status{
                        width: 95px;
                    }
                    th.th_action{
                        width: 95px;
                    }
                }
            }
            tbody{
                tr.hover-cla{
                    &:hover{
                        background-color: #e4e7ea;
                        border-color: #c8ced3;
                    }
                }
                td{
                    padding: 0.7rem 0.75rem 1rem 0.75rem;
                    label.status_active {
                        background: #00a65a;
                        color: #fff;
                        padding: 2px 4px;
                        border-radius: 4px;
                        font-size: 11px;
                    }
                    label.status_no_active {
                        background: #dd4b39;
                        color: #fff;
                        padding: 2px 4px;
                        border-radius: 4px;
                        font-size: 11px;
                    }
                }
                td.td_img{
                    width: 100px;
                    height: 80px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                td.title_cla{
                    color: #3c8dbc;
                }
                td.td_action{
                    label{
                        margin-right: 4px;
                        padding: 0px 4px;
                        border-radius: 4px;
                    }
                    .action_delete{
                        background-color: #dd4b39;
                    }
                    .action_active{
                        background-color: #ff851b;
                    }
                    .action_no_active{
                        background-color: royalblue;
                    }
                    .action_edit{
                        background-color: #00a65a;
                    }
                }
            }
        }
    }
    .pagination{
        justify-content: flex-end;
        margin-right: 10px;
    }
</style>