<template>
    <div class="form-row">
        <div class="images-field">
            <div class="list-images">
                <div class="image-item" v-for="(item,key) in media.media.value" :key="`${key}_media`">
                    <div class="item-image-count">{{key+1}}</div>
                    <div class="item-image-option" @click="deleteItem(key)">
                        <font-awesome-icon icon="trash"></font-awesome-icon>
                    </div>
                    <div v-if="item.type === 'photo'" class="image-src">
                        <img :src="item.url" style="transform: scaleX(-1);" alt="">
                    </div>
                    <div v-else-if="item.type==='video'" class="image-src">
                        <img :src="item.url" alt="">
                        <div class="btn-play-video" title="Click để xem trước">
                            <font-awesome-icon icon="play"></font-awesome-icon>
                        </div>
                    </div>
                    <div v-else-if="item.type==='document'" class="image-src">
                        <img src="/images/pdf_file.svg" alt="">
                        <div class="btn-play-video" style="background: rgba(0, 0, 0, 0.68);" title="Click để tải xuống">
                            <a target="_blank" :href="item.url" download=""><font-awesome-icon icon="download"></font-awesome-icon></a>
                        </div>
                    </div>
                    <div class="image-description">
                        <input class="form-control" v-model="item.teaser" type="text" placeholder="Mô tả">
                    </div>
                </div>
                <div class="image-item" style="display: flex;justify-content: center;align-items: center">
                    <label class="image-src hover-point" for="upfile-image" style="width: 70%">
                        <img src="/images/file_upload_2.svg" alt="">
                    </label>
                    <!--<div class="image-description">-->
                        <!--<input type="text" placeholder="Mô tả" class="form-control">-->
                    <!--</div>-->
                </div>
            </div>
            <div class="upload-btn">
                <div class="image-upload">
                    <label v-if="loading" class="btn btn-primary btn-facebook">
                        <loading width="25px" height="25px" color="#ffffff"/>
                        Đang xử lý ảnh {{process_upload}} % ...
                    </label>
                    <label v-else class="btn btn-primary btn-facebook">
                        <font-awesome-icon icon="file-image"></font-awesome-icon>
                        Hình ảnh
                        <input accept="image/*" id="upfile-image" @change="uploadFile" type="file" multiple="" style="display: none;">
                    </label>
                </div>

                <div class="image-upload">
                    <label v-if="loading_document" class="btn btn-primary btn-blocks">
                        <loading width="25px" height="25px" color="#ffffff"/>
                        Đang xử lý tài liệu {{process_upload_document}} % ...
                    </label>
                    <label v-else class="btn btn-primary btn-blocks">
                        <font-awesome-icon icon="file-pdf"></font-awesome-icon>
                        Tài liệu(pdf)
                        <input accept=".doc,.docx,.pdf" id="upfile-document"  @change="uploadDocument" type="file"  style="display: none;">
                    </label>
                </div>
                <div class="video-upload">
                    <label class="btn btn-primary btn-youtube" @click="addVideoYoutube">
                        <font-awesome-icon icon="video"></font-awesome-icon>
                        Video
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {faTrash, faPlay, faFileImage, faVideo,faFilePdf,faDownload} from "@fortawesome/free-solid-svg-icons";
    import {library} from '@fortawesome/fontawesome-svg-core';
    import Loading from "@/components/Loading"

    library.add(faTrash);
    library.add(faPlay);
    library.add(faFileImage);
    library.add(faVideo);
    library.add(faFilePdf);
    library.add(faDownload);
    export default {
        name: "Media",
        props: ['media'],
        components: {
            Loading
        },
        data() {
            return {
                // media: {
                //     value: []
                //     , valid: true
                //     , message: 'Đánh dấu bản đồ'
                // },
                process_upload: 0,
                loading: false,
                process_upload_document:0,
                loading_document:false
            }
        },
        methods: {
            addVideoYoutube() {
                Swal.fire({
                    inputPlaceholder: 'Nhập link youtube:',
                    input: 'url',
                    showCancelButton: true,
                }).then(value => {
                    if (typeof value.value != "undefined") {
                        this.filterUrl(value.value);
                    }
                })
            },
            filterUrl(value) {
                if (value != null && value !== '') {
                    let idY = value.split('youtube.com/watch?v=')[1].split('&')[0];
                    let video = {
                        filename: idY
                        , url: `https://img.youtube.com/vi/${idY}/sddefault.jpg`
                        , teaser: ''
                        , type: 'video'
                        , width: 0
                        , height: 0
                    };
                    this.media.media = {
                        value: [...this.media.media.value, video]
                        , valid: true
                        , message: ''
                    };
                }
            },
            deleteItem(key) {
                Swal.fire({
                    text: 'Bạn muốn thực hiện hành động xóa ?',
                    icon: 'warning',
                    showCancelButton: true
                }).then((success) => {
                    if (success.value == true) {
                        this.media.media.value.splice(key, 1);
                    }
                })
            },
            async uploadDocument(e){
                let files = e.target.files;
                let formData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    let file = files[i];

                    formData.append('files[' + i + ']', file);
                }
                this.loading_document = true;
                await window.axios.post('https://media.sosanhnha.com/404ImagesHandle/uploadfile.php', formData,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: (progressEvent) => {
                        this.process_upload_document = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                    }
                }).then(res=>{
                    let files = [];
                    let response = res.data;
                    Object.keys(response).forEach(key => {
                        files.push({
                            type : 'document',
                            teaser : '',
                            filename: response[key].filename,
                            url: response[key].url
                        });
                    });
                    this.media.media = {
                        value: [...this.media.media.value, ...files]
                        , valid: true
                        , message: ''
                    }
                }).catch(e=>{
                    console.error('upload file error:',e);
                })
                this.loading_document = false;
            },
            uploadFile(e) {
                let files = e.target.files;
                let formData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    let file = files[i];

                    formData.append('files[' + i + ']', file);
                }
                this.loading = true;
                window.axios.post('https://media.sosanhnha.com/404ImagesHandle/uploadimage.php',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: (progressEvent) => {
                            this.process_upload = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                        }
                    }
                ).then(res => {
                    console.log('upload ok');
                    this.loading = false;
                    var listMedia = [];
                    for (let i = 0; i < 20; i++) {
                        if (res.data['photo_' + i]) {
                            let row = res.data['photo_' + i];
                            if (row.success === 1) {
                                row.type = 'photo'
                                row.teaser = '';
                                listMedia.push(row)
                            }
                        }
                    }
                    this.media.media = {
                        value: [...this.media.media.value, ...listMedia]
                        , valid: true
                        , message: ''
                    }
                }).catch((e) => {
                    this.loading = false;
                    Swal.fire(
                        "Tải ảnh lên lỗi",
                        "Vui lòng thử lại hoặc chọn ảnh khác.",
                        "warning"
                    );
                });
            }
        }
    }
</script>

<style lang="scss">
    .images-field {
        width: 100%;

        .upload-btn {
            margin-top: 10px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .image-upload {
                margin-right: 10px;
            }

            .image-upload label {
                cursor: pointer;
            }
        }

        .list-images {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 8px;

            .image-item {
                border: 1px solid #cccccc;
                background: #eff2f5;
                border-radius: 3px;
                padding: 8px;
                position: relative;

                .item-image-count {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    border-radius: 3px;
                    height: 25px;
                    font-weight: bold;
                    background: #0d8aee;
                    color: white;
                    text-align: center;
                    font-size: 14px;
                    z-index: 2;
                }

                .item-image-option {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    border-radius: 3px;
                    height: 25px;
                    background: rgba(255, 255, 255, 0.73);
                    padding: 3px 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    color: rgba(122, 122, 122, 0.8);
                    z-index: 2;
                    cursor: pointer;
                }

                .image-description {
                    margin-top: 12px;
                    //margin-bottom: 10px;
                }

                .image-src {
                    position: relative;

                    .btn-play-video {
                        cursor: pointer;
                        position: absolute;
                        background: rgba(249, 255, 246, 0);
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 40px;
                        text-align: center;
                    }

                    border-radius: 3px;
                    height: 250px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            .list-images {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 8px;
            }
        }
    }
</style>