<template>
    <div>
        <div class="form-row">
            <form-input title="Tiêu đề"
                        id="cla_title"
                        type="string"
                        validData="minlenght:8"
                        required="1"
                        v-model="news.title"
                        :dataVal="news.title.value"
            ></form-input>
        </div>
        <div class="form-row">
            <div class="grid-column grid-column-2 grid-xm-column-1">
                <form-select
                        id="cla_cat_id"
                        v-model="news.category"
                        :dataVal="news.category.id"
                        required="1"
                        :optionsData="categories"
                        title="Chọn danh mục"
                ></form-select>
                <form-select-ajax
                        id="cla_proj_id"
                        v-model="news.project"
                        :dataVal="news.project.id"
                        required="0"
                        title="Chọn dự án"
                ></form-select-ajax>
            </div>
        </div>
        <div class="form-row">
            <div class="grid-column grid-column-2">
                <form-input title="Diện tích"
                            id="cla_list_acreage"
                            type="number"
                            validData="min:1"
                            required="1"
                            v-model="news.list_acreage"
                            :dataVal="news.list_acreage.value"
                            note="m2"
                ></form-input>
                <form-input title="Giá"
                            id="cla_list_price"
                            type="price"
                            validData="min:10000"
                            required="1"
                            v-model="news.list_price"
                            :dataVal="news.list_price.value"
                            note="VNĐ"
                ></form-input>
            </div>
        </div>
        <div class="form-row">
            <div class="grid-column grid-column-2">
                <form-input title="Phòng ngủ"
                            id="cla_list_badroom"
                            type="number"
                            validData="min:1"
                            required="0"
                            v-model="news.list_badroom"
                            :dataVal="news.list_badroom.value"
                            note="phòng"
                ></form-input>
                <form-input title="Phòng tắm"
                            id="cla_list_toilet"
                            type="number"
                            validData="min:10000"
                            required="0"
                            v-model="news.list_toilet"
                            :dataVal="news.list_toilet.value"
                            note="phòng"
                ></form-input>
            </div>
        </div>
        <div class="form-row">
            <form-editor v-model="news.description" title="Mô tả"  required="1" :description="news.description.value"></form-editor>
        </div>
        <div class="form-row" v-if="news.category.id!=0">
            <form-feature v-model="news.feature" :feature="news.feature.value" :cat_id="news.category.id"></form-feature>
        </div>
        <div class="form-row" v-if="news.category.id!=0">
            <form-attribute v-model="news.attributes" :att_selected="news.attributes.value" :cat_id="news.category.id"   required="1"></form-attribute>
        </div>
    </div>
</template>

<script>
    import FormInput from "@/components/Form/FormInput/indexv2"
    import FormSelect from "@/components/Form/FormSelect/indexv2"
    import FormSelectAjax from "@/components/Form/FormSelectAjax/index"
    import FormAttribute from "@/components/Form/Attribute/index_2"
    import FormEditor from "@/components/Form/FormEditor/index"
    import FormFeature from "@/components/Form/Feature/index"
    export default {
        name: "News",
        props:['news'],
        components: {
            FormInput,
            FormSelect,
            FormSelectAjax,
            FormAttribute,
            FormEditor,
            FormFeature
        },
        beforeCreate(){
          this.$store.dispatch('ACTION_GET_CATEGORY');
        },
        computed:{
            categories:function(){
                return this.$store.getters.CATEGORIES_CHILD;
            }
        },
        data() {
            return {
                // title: {
                //     value: ''
                //     , valid: false
                //     , message: 'nhập tiêu đề'
                // },
                // category: {
                //     id: 0
                //     , label: ''
                //     , valid: false
                //     , message: 'chọn danh mục'
                // },
                // project: {
                //     id: 0,
                //     label: '',
                //     valid: true,
                //     message: 'chọn dự án'
                // },
                // attributes: {
                //     value: [10,8,6],
                //     label: '',
                //     valid: true,
                //     message: 'Chọn thuộc tính'
                // },
                // description:{
                //     value: '<h1>Hello</h1>',
                //     label: '',
                //     valid: true,
                //     message: 'Nhập mô tả'
                // }
            }
        }
    }
</script>
