<template>
    <div class="login-main">
        <div class="login-content">
            <div class="login-head">
                <img src="/images/logo_web.png" alt="logo"/>
            </div>
            <div class="login-body">
                <button @click="loginFacebook" class="login-button btn bg-facebook btn-facebook" >
                    <img src="/images/facebook-f-brands.svg" alt="facebook"/> <span>Đăng nhập với Facebook</span>
                </button>
                <div id="google-signin-button"></div>
            </div>
        </div>
    </div>
</template>

<script>
    window.init_script_social = false;
    export default {
        name: "Login",
        computed:{
          access_token: function(){
              return this.$store.getters.ACCESS_TOKEN;
          },
            user_id: function(){
              return this.$store.getters.USER_ID;
            }
        },
        created() {
            if(window.init_script_social==false){
                window.init_script_social = true;
                window.document.getElementById('page-loading').style.display = 'none';
                window.GoogleInit = this.GoogleInit;
                window.fbAsyncInit = function () {
                    window.FB.init({
                        appId: process.env.VUE_APP_FACEBOOK_ID,
                        cookie: true,
                        xfbml: true,
                        version: process.env.VUE_APP_FACEBOOK_VERSION_API
                    })
                    window.FB.AppEvents.logPageView()
                };
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0]
                    if (d.getElementById(id)) {
                        return
                    }
                    js = d.createElement(s);
                    js.id = id
                    js.src = 'https://connect.facebook.net/en_US/sdk.js'
                    fjs.parentNode.insertBefore(js, fjs)
                }(document, 'script', 'facebook-jssdk'));
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0]
                    if (d.getElementById(id)) {
                        return
                    }
                    js = d.createElement(s);
                    js.id = id
                    js.src = 'https://apis.google.com/js/platform.js?onload=GoogleInit'
                    fjs.parentNode.insertBefore(js, fjs)
                }(document, 'script', 'google-sdk'));
                let meta = window.document.createElement('meta');
                meta.name = "google-signin-client_id";
                meta.content = `${process.env.VUE_APP_GOOGLE_ID}.apps.googleusercontent.com`;
                window.document.getElementsByTagName('head')[0].appendChild(meta);
                window.init_script_social = true;
            }
        },
        methods:{
            GoogleInit(){
                // window.gapi.load('auth2', {
                //     client_id: `${process.env.REACT_APP_GOOGLE_ID}.apps.googleusercontent.com`
                // });

                window.gapi.signin2.render('google-signin-button', {
                    onsuccess:this.loginGoogle,
                    // 'width': '100%',
                    'height': 38,
                    'lang': 'vi'
                })
            },
            loginGoogle(user){
                // return;
                const data = {
                    social_token: user.Zi.access_token,
                    type_social: 'google',
                    type_login: 'social'
                }
                ApiPost('v2/login',data).then(res=>{
                    Cookies.set('access_token',res.data.access_token,{ expires: 365 });
                    Cookies.set('user_id',res.data.user_info.id,{ expires: 365 });
                    if(process.env.VUE_APP_SYNC_LOGIN=='true'){
                        window.location = `${process.env.VUE_APP_URL_SYNC_LOGIN}?access_token=${res.data.access_token}&url=${encodeURIComponent(process.env.VUE_APP_URL_REDIRECT_LOGIN)}`;
                    }else{
                        window.location = "/";
                    }

                }).catch(e=>{
                    this.$store.commit('SET_USER_INFO',null);
                    this.$store.commit('SET_ACCESS_TOKEN',null);
                    this.$store.commit('SET_USER_ID',null);
                    console.error('login google',e);
                    Cookies.remove('access_token');
                    Cookies.remove('user_id');
                    Swal.fire({title:'Đăng nhập không thành công',text:'Vui lòng liên hệ với quản trị viên!',icon:'error'});
                })
            },
            loginFacebook (){
                // Cookies.set('name','value', { expires: 7 });

                // window.FB.login( (response)=> {
                //     let id = response.authResponse.userID;
                //     let token = window.FB.getAuthResponse();
                //     window.FB.api(`/${id}?fields=email,name,picture{url}`, (response_api) =>{
                //         const data = {
                //             social_token: token,
                //             type_social: 'facebook',
                //             type_login: 'social'
                //         }
                //         console.log('Successful login for: ', data);
                //     });
                // });
                console.log('on click');
            }
        }
    }
</script>

<style lang="scss">
    .login-main {
        .abcRioButton.abcRioButtonLightBlue {
            width: 100% !important;
        }
    }
</style>

<style lang="scss" scoped>
    .login-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .login-content {
            .login-head {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                margin-top: 30px;

                img {
                    width: 55%;
                }
            }

            width: 300px;
            height: 250px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background: white;
            padding: 10px;

            .login-body {
                .btn-facebook {
                    margin-bottom: 10px;

                    img {
                        margin-right: 25px;
                        width: 15px;
                    }
                }

                .btn-google-plus {
                    img {
                        margin-right: 20px;
                        width: 20px;
                    }
                }

                .login-button {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;

                    span {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
</style>