<template>
    <div>
        <span>Đang đồng bộ đăng nhập...</span>
    </div>
</template>

<script>
    export default {
        name: "SyncLogin",
        async beforeCreate() {
            if (typeof this.$route.query.token == "undefined" || typeof this.$route.query.url_redirect == "undefined") {
                Swal.fire({
                    title: 'Lỗi!',
                    text: 'Không tìm thấy dữ liệu',
                    icon: 'warning'
                });
            } else {
                var token = Cookies.get('access_token');
                var user_id = Cookies.get('user_id');
                if (!token && !user_id) {
                    ApiPost('v2/verify-token', {access_token: this.$route.query.token}).then(res => {
                        Cookies.set('access_token', this.$route.query.token, {expires: 365});
                        Cookies.set('user_id', res.data.id, {expires: 365});
                        window.location = this.$route.query.url_redirect;
                    }).catch(e => {
                        console.error('sync login error:',e);
                        Swal.fire({
                            title: 'Lỗi',
                            text: 'Không thể đồng bộ đăng nhập!',
                            icon: 'error'

                        });
                    })
                } else {
                    Cookies.remove('access_token');
                    Cookies.remove('user_id');
                    window.location = '/dang-nhap';
                }

            }
        },
    }
</script>