<template>
    <div class="material_style">
        <div class="group">
            <input type="text" v-model="searchData"
                   required="required" v-on:blur="closeOption" @click="show_option=true"/><span class="highlight"></span>
            <span class="bar"></span>
            <label>{{title}} :
                <span class="mtrl-required">{{required&&required=='1'?'* ':''}}  {{message}}</span>
            </label>
            <div v-if="show_option" class="mtl-list-options">
                <div class="mtl-item-option" v-for="(item,index) in dataShow" :key="index" @click="onSelect(item)">{{item.name}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import {find} from 'lodash'
    export default {
        name: "FormSelect",
        props: ['dataVal', 'title', 'required', 'validData', 'type', 'optionsData', 'id'],
        data() {
            return {
                searchData: '',
                dataSelect: {
                    id: this.dataVal,
                    name: ''
                },
                dataShow:this.optionsData
                , message: ''
                , hasVal: false
                , valid: true
                , warning: false
                , arrValidate: [],
                show_option:false
            }
        },
        beforeMount(){
            if(this.dataVal&&this.optionsData){
                var find_data = find(this.optionsData,{id:this.dataVal});
                if(find_data){
                    this.dataSelect.name = find_data.name;
                    this.searchData = this.dataSelect.name;
                    this.valid = true;
                    this.$emit('input', {
                        id: this.dataSelect.id
                        , valid: this.valid
                        , message: this.message
                    })
                }
            }
        },
        watch:{
            searchData:function (){
                if (this.searchData.length !== 0) {
                   this.dataShow = searchKeywordObject(this.searchData,this.optionsData, 'name');
                } else {
                    this.dataShow = this.optionsData;
                }
            },
            optionsData:function(){
                this.dataShow = this.optionsData;
                if(this.dataVal&&this.optionsData){
                    var find_data = find(this.optionsData,{id:this.dataVal});
                    if(find_data){
                        this.dataSelect.name = find_data.name;
                        this.searchData = this.dataSelect.name;
                        this.valid = true;
                        this.$emit('input', {
                            id:this.dataSelect.id
                            , valid: this.valid
                            , message: this.message
                        })
                    }
                }
            },
            dataVal:function(){
                if(this.dataVal==0){
                    this.show_option=false;
                    this.searchData = '';
                    this.dataSelect = {
                        id: this.dataVal,
                        name: ''
                    };
                    if(this.required=='1'){
                        this.valid = false;
                        this.message = "Vui lòng chọn 1 mục"
                    }
                }
            }
        },
        methods:{
            onSelect(data) {
                this.dataShow = this.optionsData;
                this.searchData = data.name;
                this.dataSelect = data;
                this.message = '';
                this.valid = true;
                this.$emit('input', {
                    id: data.id
                    , name: data.name
                    , message: this.message
                    , valid: this.valid
                })
            },
            closeOption(){
                setTimeout(()=>{
                    this.show_option=false;
                    this.searchData = this.dataSelect.name;
                    if(this.required=='1'&&this.dataSelect.name==''){
                        this.valid = false;
                        this.message = "Vui lòng chọn 1 mục"
                    }
                },200);

            }
        }
    }
</script>
