<template>
    <div class="crm_form_row">
        <div :class="`form_select ${hasVal?'has_val':''} ${!valid&&'error'} ${warning&&'warning'}`"
             :id="`form_select_${id}`">
            <v-select v-model="dataSelect"
                      :options="optionsData"
                      placeholder=""
                      :id="id"
                      :filterBy="filterFunction"
            >
            </v-select>
            <label class="crm_info">
                <span class="form_err">{{message}} </span>
                <span class="form_label">{{title}} <span
                        class="important">{{required&&'*'}}</span> :</span>
            </label>
        </div>
    </div>
</template>
<script>
    import vSelect from 'vue-select';

    window.Vue.component('v-select', vSelect);
    export default {
        name: "FormSelect"
        , props: ['dataVal', 'title', 'required', 'validData', 'type', 'optionsData', 'id']
        , data() {
            return {
                dataSelect: {
                    id: this.dataVal,
                    label: ''
                }
                , message: ''
                , hasVal: false
                , valid: true
                , warning: false
                , arrValidate: []
            }
        }
        , watch: {

            dataVal: function () {
                this.dataSelect = (this.optionsData) && this.optionsData.find(this.findFieid) || {id: 0, label: ''}
            }
            , dataSelect: function () {
                this.hasVal = (this.dataSelect) && this.dataSelect.id > 0 ? true : false
                this.$emit('input', {
                    id: (this.dataSelect) && (this.dataSelect.id || 0) || 0
                    , label: (this.dataSelect) && (this.dataSelect.label || '') || ''
                    , message: this.message
                    , valid: this.valid
                })
            }
            , optionsData: function () {
                this.dataSelect = this.optionsData.find(this.findFieid) || {id: 0, label: ''}
            }
            , returnVal: function () {

            }
        }
        , mounted() {
            if (this.optionsData.length > 0) {
                this.dataSelect = this.optionsData.find(this.findFieid) || {id: 0, label: ''}
            }
        }
        , methods: {
            findFieid(row) {
                return row.id == this.dataVal
            }
            , filterFunction(options, label, search) {
                const labelSearch = this.remove_unicode((label + '').toLowerCase());
                const searchData = this.remove_unicode((search + '').toLowerCase());
                return labelSearch.indexOf(searchData) > -1
            }
            , remove_unicode(str) {
                str = str.toLowerCase();
                str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
                str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
                str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
                str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
                str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
                str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
                str = str.replace(/đ/g, "d");
                str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\\=|\\<|\\>|\?|\/|,|\.|\\:|\\;|\\'| |\\"|\\&|\\#|\[|\\]|~|$|_/g, "-");

                str = str.replace(/-+-/g, "-"); //thay thế 2- thành 1-
                str = str.replace(/^\\-+|\\-+$/g, "");

                return str;
            }

        }
    }
</script>
<style lang="scss">
    @import "@/components/Form/style.scss";
</style>