.list-attr{
  width: 100%;
  background: white;
  .attr-item-parent{
    margin-top: 20px;
    .attr-item-parent-name{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .attr-item-list{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
      .attr-item-child{
        border-bottom: 1px dotted $gray-400;
        display: flex;
        justify-content: space-between;
        .attr-item-name{
          color: $gray-600;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
        }
        .attr-item-checkbox{

        }
      }
    }
    @media (max-width: 767px) {
      .attr-item-list{
        grid-template-columns: repeat(1,1fr);
      }
    }

  }
}