.login-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .abcRioButton.abcRioButtonLightBlue{
    width: 100%!important;
  }
  .login-content{
    .login-head{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-top: 30px;
      img{
        width: 55%;
      }
    }
    width: 300px;
    height: 250px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: white;
    padding: 10px;
    .login-body{
      .btn-facebook{
        margin-bottom: 10px;
        img{
          margin-right: 25px;
          width: 15px;
        }
      }
      .btn-google-plus{
        img{
          margin-right: 20px;
          width: 20px;
        }
      }
      .login-button{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        span{
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}