
.grid-column {
  display: grid;
  grid-column-gap: 20px;
}

.form-row{
  display: block;
  width: 100%;
  margin-top:20px;
}

.grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-column-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-column-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-column-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-column-6 {
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 767px) {
  .grid-column {
    grid-column-gap: 10px;
  }
  .grid-xs-column-2{
    grid-template-columns: repeat(2, 1fr);
    .material_style:nth-child(n+3){
      .group{
        margin-top: 15px;
      }
    }

  }
  .grid-xm-column-1 {
    grid-template-columns: repeat(1, 1fr);
    .material_style:nth-child(n+2){
      .group{
        margin-top: 15px;
      }
    }
  }
}

.hover-point{
  cursor: pointer;
}