.images-field{
  width: 100%;
  .upload-btn{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .image-upload{
      margin-right: 10px;
    }
    .image-upload label{
      cursor: pointer;
    }
  }
  .list-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 8px;
    .image-item{
      border: 1px solid #cccccc;
      background: #eff2f5;
      border-radius: 3px;
      padding: 8px;
      position: relative;
      .item-image-count{
        position: absolute;
        top:0;
        left: 0;
        width: 20px;
        border-radius: 3px;
        height: 25px;
        font-weight: bold;
        background: #0d8aee;
        color:white;
        text-align: center;
        font-size: 14px;
        z-index: 2;
      }
      .item-image-option{
        position: absolute;
        top:0;
        right: 0;
        width: 40px;
        border-radius: 3px;
        height: 25px;
        background: rgba(255, 255, 255, 0.73);
        padding: 3px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: rgba(122, 122, 122, 0.8);
        z-index: 2;
        cursor: pointer;
      }
      .image-description{
        margin-top: 12px;
        //margin-bottom: 10px;
      }
      .image-src{
        position: relative;
        .btn-play-video{
          cursor: pointer;
          position: absolute;
          background: rgba(249, 255, 246, 0);
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 40px;
          text-align: center;
        }
        border-radius: 3px;
        height: 250px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media (max-width:767px) {
    .list-images{
      grid-template-columns: repeat(1,1fr);
      grid-gap: 8px;
    }
  }
}