.step-main{
  width: 100%;
  .step-content{
    padding: 10px;
    border: 1px solid #ececec;
    border-top:none;
    border-bottom: none;
  }

  .step-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ececec;
  }
  .step-navs{
    display: flex;


    .step-navs-item{
      cursor: pointer;
      position: relative;
      flex: 1;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ececec;
      font-size: 16px;
      .step-icon{
        color: $gray-800;
      }
      .step-name{
        margin-left: 5px;
        color: $gray-800;
      }
    }
    .step-navs-item.active{
      cursor: default;
      background: $blue;
      .step-icon{
        color: white;
      }
      .step-name{
        color: white;
      }
    }



    .step-navs-item:after {
      border-left-color: #edeff0;
      z-index: 2;
      right: -13px;
      position: absolute;
    }

    .step-navs-item:before{
      border-left-color: #fff;
      z-index: 1;
    }

    .step-navs-item:before {
      border-left: 16px solid transparent;
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: -16px;
      border-right: 0;
      top: -4px;
      border-top: 24px solid transparent;
      border-bottom: 24px solid transparent;
    }
  }

}