<template>
        <main  class="main">
            <breadcrumb title="Danh sach tin"></breadcrumb>
            <div class="container-fluid">
                <list-classified v-if="id_mobile === false"></list-classified>
                <list-classified-mobile v-else></list-classified-mobile>
            </div>
        </main>
</template>

<script>

    import Breadcrumb from "@/components/Breadcrumb/index"
    import ListClassified from "@/components/Classified/ListClassified"
    import ListClassifiedMobile from "@/components/Classified/Mobile/ListClassifiedMobile"

    export default {
        name: "listcla",
        computed:{
            id_mobile:function(){
                return this.$store.getters.IS_MOBILE
            }
        },
        components: {
            ListClassified,
            ListClassifiedMobile,
            Breadcrumb
        },
         beforeCreate() {
           this.$store.dispatch('ACTION_GET_CATEGORY');
        }
    }

    
</script>

<style lang="scss">

</style>