
/* Material Design Form Inputs */
.form__wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 1.6rem;
  width: 100%;
  vertical-align: top;
}

.form__wrapper--submit {
  padding: 1.6rem 0;
}

.form__input {
  display: block;
  position: relative;
  margin-top: 1em;
  padding: 0 0;
  width: 100%;
  box-sizing: border-box;
  color: #444;
  font-size: 1.6rem;
  outline: 0;
  border: none;
  border-bottom: solid 1px #ddd;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #2196f3 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2196f3 4%);
  background-position: -1500px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /**
   * Remove default box-shadow for required pseudo classes
   */
  /**
   *  When input contain a class of .error
   */
}

.form__input:required {
  box-shadow: none;
}

.form__input.error {
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f44336 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f44336 4%);
  background-position: calc(0px - 400px) 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.form__input:focus {
  background-position: 0 0;
  color: #444;
  -webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

/* Form Label */
.form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
  color: #999;
}

/* Form Label Content */
.form__label-content {
  position: absolute;
  -webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

/**
 * 1. When input is focused move the label to top
 * 2. when the input field has a value move the label to top
 */
.form__input:focus ~ .form__label .form__label-content,
.form--filled .form__label-content {
  font-size: 1.4rem;
  -webkit-transform: translate3d(0, -65%, 0);
  -moz-transform: translate3d(0, -65%, 0);
  transform: translate3d(0, -65%, 0);
  color: #3c8dbc;
}

.form--filled .form__label-content {
  padding: 30px 0;
}

.form__wrapper {
  position: relative;
}

.form__wrapper .form__label {
  position: absolute;
  top: 30px;
}

.form__wrapper > input:focus + .form__label, .form__wrapper > input:not([value=""]) + .form__label {
  top: 14px !important;
}

.form__wrapper .form__label > .form__label-content {
  padding: 0px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

.title_input {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #99999f;
  font-weight: 600;
}



.crm_form_row {
  width: 100%;
  display: block;
  position: relative;
  padding-top: 14px;
  margin-bottom: 1.6rem;
}

.crm_form_row > input, .crm_form_row > select{
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: none;
  background: inherit;
}

input:focus,select:focus {
  outline: none;
}

.crm_form_row > .crm_info {
  display: block;
  width: 100%;
  border-top: 1px #ddd solid;
  font-weight: normal;
}

.form_label {
  top: 0px;
  left: 0px;
  line-height: 14px;
  font-weight: normal;
  font-size: 12px;
  position: absolute;

}
.form_label>.important{
  color: #dd4b39;
}
.form_err {
  display: none;
  padding-top: 2px;
  font-size: 11px;
  font-weight: normal;
  color: #454545

}

.crm_info:before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 2px #3c8dbc solid;
  display: block;
  animation-duration: 1s;
  margin-top: -1px;
}
.form_select>.crm_info{
  pointer-events:none;
}
.crm_info .note{
  line-height: 32px;
  display: block;
  position: absolute;
  top: 14px;
  right: 0px;
  background: #fff;
  font-weight: normal;
}
.crm_form_row > input:focus + .crm_info:before,
.crm_form_row > select:focus + .crm_info:before
{
  width: 100%;
  animation-name: ip_bg;
}
.crm_form_row .form_label
{
  font-size: 14px;
  top: 14px;
  line-height: 32px;
  color: rgba(0,0,0,.54);
}
.crm_form_row > input:focus + .crm_info>.form_label
,.crm_form_row > select:focus + .crm_info>.form_label
,.crm_form_row > .has_val + .crm_info>.form_label
,.crm_form_row > .form_select.has_val >.crm_info>.form_label
,.crm_form_row > .form_select.has_focus >.crm_info>.form_label

{
  top: 0px;
  line-height: 14px;
  font-weight: normal;
  font-size: 12px;
  pointer-events:none;
}
.crm_form_row > input:focus + .crm_info>.form_label
,.crm_form_row > select:focus + .crm_info>.form_label{
  color: #3F51B5;
}
.crm_form_row > select option[value="0"]{
  color: #888;
}
.crm_editor{
  padding-top: 20px;
}
.crm_editor .form_label{
  top: 0px;
  line-height: 14px;
  font-weight: normal;
  font-size: 12px;
}
.crm_form_row > .error+.crm_info:before{
  border-top: 1px #f44f00 solid;
  width: 100%;
}
.crm_form_row > .error+.crm_info .form_err{
  display: block;
  color: #f44f00;

}
.crm_form_row > .warning:focus+.crm_info .form_err{
  display: block;
}
.crm_form_row > input.error+.crm_info .form_label{
  color: #f44f00;
}
.form_row_2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.form_row_3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.form_row_4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.v-select{
  height: 32px;
}
.v-select > .dropdown-toggle{
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
  height: 32px;
  line-height: 32px;
}
.v-select input[type=search], .v-select input[type=search]:focus{
  height: 32px;
  line-height: 32px !important;
  padding: 0px !important;
  margin:0px !important;
}
.v-select .no-options{
  display: none;
}
.v-select .vs__actions {
  display: flex;
  align-items: stretch;
  padding: 0 6px 0 3px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
}
.v-select .dropdown-toggle .clear {
  font-size: 13px;
  display: none;
}
.v-select.single .selected-tag {
  padding:0px;
  margin:0px;
}
.v-select .open-indicator:before {
  border-width: 1px 1px 0 0 !important;
  width: 6px !important;
  height: 6px !important;
}
.form_edit{
  background: #fff;
  border-top: 1px #ddd solid;
  margin-top: 12px;
}
@-webkit-keyframes ip_bg {
  0% {
    width: 0px
  }
  100% {
    width: 100%
  }
}
@media (max-width: 600px) {
  .content-header{
    padding: 0px;
    border-radius: 0px;
  }
  .form_content{
    padding: 0px;
    padding-top: 8px
  }
  .form_row_2{
    grid-template-columns:1fr;
  }
  .form_row_3{
    grid-template-columns:1fr;
  }
  .form_row_4{
    grid-template-columns: repeat(2, 1fr);
  }
  .hide-mb{
    display: none!important;
  }
  .form_edit{
    margin-top: 0px;
  }
}
.label-padding-4{
  padding: 4px 4px;
  font-weight: bold;
}



.template .v-select > .dropdown-toggle {
  border-top: 1px  solid #ccc!important;
  border-left:1px  solid #ccc!important;
  border-right: 1px  solid #ccc!important;
  border-radius:5px !important;
  height: auto !important;
  line-height: normal!important;
}
.template .v-select{
  height: auto !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  /*font-size: 100px;*/
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
