// VARIABLES // ============================== //
$bg-color_mtl: #424242;
$hl-color: #2196F3;
//$muted-color: mix(white, $bg-color_mtl, 70%);
$muted-color:#73818f;
$trans-time: 300ms;
$width_material: 100%;

.material_style{
  // FORM // ============================== //
  form {
    width: $width_material;
    margin: 20px auto;

    h1 {
      font-size: 3em;
      font-weight: 300;
      text-align: center;
      color: $hl-color;
    }
    h5 {
      text-align: center;
      text-transform: uppercase;
      color: $muted-color;
    }
    hr.sep {
      background: $hl-color;
      box-shadow: none;
      border: none;
      height: 2px;
      width: 25%;
      margin: 0px auto 45px auto;
    }
    .emoji {
      font-size: 1.2em;
    }
  }

  label{
    .mtrl-required,.mtrl-error-ms{
      color: red;
      font-size: 10px;
      line-height: 1;
    }
  }

  .group {
    position: relative;
    margin: 0;
    .mtl-list-options::-webkit-scrollbar {
      width: 5px;
      background: $muted-color;

    }

    .input-unit{
      position: absolute;
      right: 0;
      top:10px;
      font-size: 12px;
      color: #0d8aee;
    }

    /* Track */
    .mtl-list-options::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    .mtl-list-options::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    .mtl-list-options::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .mtl-list-options{
      z-index: 1;
      position: absolute;
      top:32px;
      left: 0;
      right: 0;
      width: 100%;
      border: 1px solid $gray-300;
      border-top: white;
      box-shadow: 0 -2px 10px rgba(0,0,0,.25);
      display: flex;
      flex-direction: column;
      background: white;
      overflow-y: scroll;
      max-height: 200px;
      .mtl-item-option{
        width: 100%;
        padding: 3px 5px;
        font-size: 12px;
        cursor: pointer;
      }
      .mtl-item-option:hover, .selected{
        background:$hl-color;
        color: white;
      }



    }
  }

  // INPUTS // ============================== //
  textarea {
    resize: none;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input,
  textarea {
    background: none;
    color: $muted-color;
    font-size: 14px;
    padding: 10px 0px 2px 0px;
    display: block;
    width: $width_material;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -10px;
      font-size: 12px;
      color: $hl-color;
    }

    &:focus ~ .bar:before {
      width: $width_material;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: $muted-color;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: $trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: $width_material;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $hl-color;
      transition: $trans-time ease all;
      left: 0%;
    }
  }

  // BUTTONS // ============================== //
  .btn {
    background: #fff;
    color: mix(black, $muted-color, 25%);
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      color: mix(black, $muted-color, 30%);
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
    &.btn-link {
      background: $hl-color;
      color: mix(white, $hl-color, 80%);
      &:hover {
        background: darken($hl-color, 5%);
        color: mix(white, $hl-color, 85%);
      }
    }
    &.btn-submit {
      background: $hl-color;
      color: mix(white, $hl-color, 70%);
      &:hover {
        background: darken($hl-color, 5%);
        color: mix(white, $hl-color, 85%);
      }
    }
    &.btn-cancel {
      background: #eee;
      &:hover {
        background: darken(#eee, 5%);
        color: mix(black, $muted-color, 30%);
      }
    }
  }

  .btn-box {
    text-align: center;
    margin: 50px 0;
  }
}