<template>
    <div>
        <div class="title-field-map">{{title?title:'Chọn vị trí bất động sản của bạn trên bản đồ'}}<small style="color: red"> ( Di chuyển con trỏ <font-awesome-icon icon="map-marker-alt"></font-awesome-icon> để chọn vị trí ) </small>:</div>
        <div :style="`width: 100%;height: ${height?height:'200px'}`" id="google-map-vue"></div>
    </div>
</template>

<script>
    import {faMapMarkerAlt} from "@fortawesome/free-solid-svg-icons";
    import {library} from '@fortawesome/fontawesome-svg-core'
    library.add(faMapMarkerAlt);
    if(typeof window.google_map_maker == "undefined"){
        window.google_map_maker = false;
    }
    window.googleMapInit = null;
    export default {
        name: "GoogleMapMaker",
        props:['title','position','zoom','height','draggable'],
        created(){
          if(window.google_map_maker==false){
              this.initElementMap();
              window.googleMapInit = this.renderMap
          }
        },
        mounted(){
            if(window.google_map_maker==true){
                this.renderMap();
            }
        },
        watch:{
            position: function(){
                this.renderMap();
            }
        },
        methods:{
            initElementMap(){
                var script = document.createElement('script');
                script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAyFL5-s-1vHQEQWaDnXT2gCDIrNZm4DSs&callback=googleMapInit';
                document.body.appendChild(script);
            },
            renderMap(){
                window.google_map_maker = true;
                var map = new window.google.maps.Map(document.getElementById('google-map-vue'), {zoom:this.zoom?parseInt(this.zoom):19, center: this.position?this.position:{lat:21.008998, lng: 105.820441}});
                let marker = new window.google.maps.Marker({
                    map: map,
                    animation: window.google.maps.Animation.DROP,
                    draggable: this.draggable?this.draggable:true,
                    position:this.position?this.position:{lat:21.008998, lng: 105.820441}
                });
                marker.addListener('click', this.toggleBounce);
                window.google.maps.event.addListener(marker, 'dragend', (evt) =>{
                    console.log('dragend',{lat:evt.latLng.lat().toFixed(6),lng:evt.latLng.lng().toFixed(6)});
                    this.$emit('input', {
                        value: {lat:parseFloat(evt.latLng.lat().toFixed(6)),lng:parseFloat(evt.latLng.lng().toFixed(6))}
                        , valid: true
                        , message: ''
                    })
                });
            },
            toggleBounce() {
                if (window.marker.getAnimation() !== null) {
                    window.marker.setAnimation(null);
                } else {
                    window.marker.setAnimation(window.google.maps.Animation.BOUNCE);
                }
            }
        }
    }
</script>
