<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="/js/sweetalert2@9.js"></script>
    <title>zilo_crm</title>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Montserrat);
      #page-loading {
        position: relative;
        width: 100%;
        height: 100vh;
        font-family: Montserrat;
      }
      #page-loading .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #page-loading .text {
        color: #fbae17;
        display: inline-block;
        margin-left: 5px;
      }
      #page-loading .bounceball {
        position: relative;
        display: inline-block;
        height: 37px;
        width: 15px;
      }
      #page-loading .bounceball:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fbae17;
        transform-origin: 50%;
        animation: bounce 500ms alternate infinite ease;
      }
      @keyframes bounce {
        0% {
          top: 30px;
          height: 5px;
          border-radius: 60px 60px 20px 20px;
          transform: scaleX(2);
        }
        35% {
          height: 15px;
          border-radius: 50%;
          transform: scaleX(1);
        }
        100% {
          top: 0;
        }
      }

    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but zilo_crm doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <div id="page-loading">
      <div class="wrap">
        <div class="loading">
          <div class="bounceball"></div>
          <div class="text">NOW LOADING</div>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
