<template>
    <ol class="breadcrumb" id="app-breadcrumb">
        <li class="breadcrumb-item"> <router-link to="/"> <font-awesome-icon icon="home"></font-awesome-icon> Trang chủ</router-link></li>
        <!--<li class="breadcrumb-item">-->
            <!--<a >Admin</a>-->
        <!--</li>-->
        <li class="breadcrumb-item active" v-if="title">{{title}}</li>
        <!--<li class="breadcrumb-menu d-md-down-none">-->
            <!--<div class="btn-group" role="group" aria-label="Button group">-->
                <!--<a class="btn" >-->
                    <!--<i class="icon-speech"></i>-->
                <!--</a>-->
                <!--<a class="btn" href="./">-->
                    <!--<i class="icon-graph"></i> Dashboard</a>-->
                <!--<a class="btn" >-->
                    <!--<i class="icon-settings"></i> Settings</a>-->
            <!--</div>-->
        <!--</li>-->
    </ol>
</template>

<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {faHome} from '@fortawesome/free-solid-svg-icons'
    library.add(faHome)
    export default {
        name: "Breadcrumb",
        props:['title']
    }
</script>