<template>
    <div class="material_style">
        <div class="group">
            <input type="text" :inputmode="inputmode" required="required" v-model="returnVal"
                   :placeholder="placeholder"/>
            <span class="highlight"></span><span class="bar"></span>
            <label>{{title}} :
                <span v-if="required&&required==1" class="mtrl-required">* {{message}}</span>
            </label>
            <span v-if="note" class="input-unit">{{note}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FormInput',
        props: ['dataVal', 'title', 'required', 'validData', 'type', 'note', 'inputmode', 'id', 'placeholder']
        , data() {
            return {
                returnVal: this.dataVal || ''
                , message: ''
                , hasVal: Boolean(this.dataVal && true)
                , valid: true
                , warning: false
                , arrValidate: [],
                reg_email:/[A-Z0-9._%+-]+@[A-Z0-9-]+.+.[A-Z]{2,4}/igm,
            }
        },
        watch: {
            dataVal: function () {
                this.returnVal = this.dataVal
            }
            , returnVal: function () {
                this.hasVal = Boolean(this.returnVal && true)
                this.validateForm()
                this.returnData()
            }
        },
        mounted() {

            this.validData && (this.validData + '').split('|').forEach(row => {
                let rowCheck = (row + '').split(':')
                if (rowCheck.length != 2) {
                    throw(`ValidateData: ${row}  không đúng`)
                }
                this.arrValidate.push({
                    key: rowCheck[0]
                    , value: rowCheck[1]
                })
            })
            if (this.dataVal != "") {
                this.validateForm()
                this.returnData()
            }
        },
        methods: {
            returnData() {
                this.$emit('input', {
                    value: this.returnVal
                    , valid: this.valid
                    , message: this.message
                })
            }
            , validateForm() {
                if (!this.required) {
                    this.warning = false;
                    this.valid = true;
                    return true;
                }
                this.warning = false;
                this.valid = true;
                this.message='';
                switch (this.type) {
                    case "number": {
                        this.returnVal = this.formatNumber(this.returnVal);
                        this.arrValidate.forEach(row => {
                            switch (row.key) {
                                case "min":
                                    row.value = parseInt(row.value)
                                    if (row.value > this.returnVal) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} phải lớn hơn ${row.value}`
                                    }
                                    break
                                case "max":
                                    row.value = parseInt(row.value)
                                    if (row.value < this.returnVal) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} phải nhỏ hơn ${row.value}`
                                    }
                                    break
                            }
                        })
                        break
                    }
                    case "price": {
                        this.returnVal = this.formatPrice(this.returnVal)
                        this.arrValidate.forEach(row => {
                            switch (row.key) {
                                case "min":
                                    row.value = parseInt(row.value)
                                    if (row.value > this.convertPriceToNumber(this.returnVal)) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} phải lớn hơn ${this.formatPrice(row.value)}`
                                    }
                                    break
                                case "max":
                                    row.value = parseInt(row.value)
                                    if (row.value < this.convertPriceToNumber(this.returnVal)) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} phải nhỏ hơn ${this.formatPrice(row.value)}`
                                    }
                                    break
                            }
                        })
                        break
                    }
                    case "email": {

                        if(!this.reg_email.test(this.returnVal)){
                            this.valid = false
                            this.warning = true
                            this.message = `${this.title} không đúng định dạng email`
                        }

                        break
                    }
                    case "phone": {
                        this.returnVal = this.convertMobile(this.returnVal)
                        if (!this.isMobilePhone(this.returnVal)) {
                            this.valid = false
                            this.warning = true
                            this.message = `${this.title} chưa đúng`
                        }
                        break
                    }
                    case "string": {
                        this.returnVal = (this.returnVal + '').replace('  ', ' ')
                        this.arrValidate.forEach(row => {
                            switch (row.key) {
                                case "min":
                                    row.value = parseInt(row.value);
                                    if (row.value > (this.returnVal + '').split(' ').length) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} tối thiểu ${row.value} từ`
                                    }
                                    break
                                case "max":
                                    row.value = parseInt(row.value)
                                    if (row.value < (this.returnVal + '').split(' ').length) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} tối đa ${row.value} từ`
                                    }
                                    break
                                case "minlenght":
                                    row.value = parseInt(row.value)
                                    if (row.value > this.returnVal.length) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} tối thiểu ${row.value} ký tự`
                                    }
                                    break
                                case "maxlenght":
                                    row.value = parseInt(row.value)
                                    if (row.value < this.returnVal.length) {
                                        this.warning = true
                                        this.valid = false
                                        this.message = `${this.title} tối đa ${row.value} ký tự`
                                    }
                                    break
                            }
                        })
                        break
                    }
                    default:
                        break
                }
            }
            , convertPriceToNumber(s) {
                s = (s + '').replace(/[\D\s\\._\\-]+/g, "").trim();
                s = s ? parseInt(s, 10) : 0;
                return s || 0
            }
            , formatPrice(s) {
                s = (s + '').replace(/[\D\s\\._\\-]+/g, "").trim();
                s = s ? parseInt(s, 10) : 0;
                return ((s === 0) ? "" : s.toLocaleString("en-US"));
            }
            , formatNumber(s) {
                s = (s + '').replace(/[^0-9\\,]/g, '').trim();
                s = s ? parseInt(s, 10) : "";
                return s
            },
            isMobilePhone(s) {
                s = s.trim();
                var re = /^(0)([123456789]{1})([0-9]{8})$/;
                return re.test(s);
            },
            convertMobile(s) {
                const arrConvert = {
                    // Mobi
                    20: 70
                    , 21: 79
                    , 22: 77
                    , 26: 76
                    , 28: 78
                    // Vina
                    , 23: 83
                    , 24: 84
                    , 25: 85
                    , 27: 81
                    , 29: 82
                    // Viettel
                    , 62: 32
                    , 63: 33
                    , 64: 34
                    , 65: 35
                    , 66: 36
                    , 67: 37
                    , 68: 38
                    , 69: 39
                    // vietnammobile
                    , 86: 56
                    , 88: 58
                    // Gtel
                    , 99: 59
                }
                s = (s + '').trim();
                //  if(s=='84'||s=="+84") return 0
                // đúng chuẩn thì return luôn
                let re = /^(0)([35789]{1})([0-9]*)$/;
                if (re.test(s)) {
                    return s;
                }
                // Lệch chuẩn xét tiếp
                s = (s + '').replace(/[^0-9]/g, '').trim();
                // 10 số bắt đầu bằng 84
                re = /^(84)([35789]{1})([0-9]*)$/;
                let matches = s.match(re)
                if (matches) {
                    return '0' + matches[2] + matches[3]
                }

                re = /^(841)([0-9]{2})([0-9]*)$/;
                matches = s.match(re)
                if (matches) {
                    if (arrConvert[matches[2]]) {
                        return '0' + arrConvert[matches[2]] + matches[3]
                    }
                }
                // 11 số bắt đầu bằng 0
                re = /^(01)([0-9]{2})([0-9]*)$/;
                matches = s.match(re)
                if (matches) {
                    if (arrConvert[matches[2]]) {
                        return '0' + arrConvert[matches[2]] + matches[3]
                    }
                }
                return s;
            }

        }
    }
</script>
