<template>
    <div class="material_style">
        <div class="group">
            <input type="text" v-model="searchData"
                   required="required" v-on:blur="closeOption" @click="show_option=true"/><span class="highlight"></span>
            <span class="bar"></span>
            <label>{{title}} :
                <span class="mtrl-required">{{required&&required=='1'?'* ':''}}  {{message}} <loading v-if="ajax_loading" width="20px" height="20px" color="red"></loading></span>
            </label>
            <div v-if="show_option" class="mtl-list-options">
                <div class="mtl-item-option" v-for="(item,index) in dataShow" :key="index" @click="onSelect(item)">{{item.name}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    let  event_keyup =null;
    import Loading from "@/components/Loading"
    export default {
        name: "FormProjectSelectAjax",
        components:{
            Loading
        },
        props: ['dataVal', 'title', 'required', 'validData', 'id','urlAjax'],
        data() {
            return {
                searchData: '',
                dataSelect: {
                    id: this.dataVal,
                    name: '',
                    address:''
                },
                dataShow:null,
                optionsData:null
                , message: ''
                , hasVal: false
                , valid: true
                , warning: false
                , arrValidate: [],
                show_option:false,
                ajax_loading:false
            }
        },
        created(){
            if(this.dataVal){
                event_keyup='stop';
                if(this.dataVal==0){
                      this.searchData = "Dự án khác"
                    this.stopEventKeyup();
                }else{
                    ApiGet(`v2/projects/${this.dataVal}`,{
                        fields:'name,id,address',
                    }).then(res=>{
                        this.dataSelect = res.data;
                        this.searchData = this.dataSelect.name;
                        console.log(res.data);
                        this.stopEventKeyup();
                    }).catch(error=>{
                        this.stopEventKeyup();
                        console.error('get project error');
                    })
                }
            }
        },
        watch:{
            searchData:function (){
                console.log('event_keyup',event_keyup);
                if(event_keyup=='stop'){
                    return;
                }
                if(event_keyup!=null){
                    clearTimeout(event_keyup);
                    event_keyup = null;
                }
                if (this.searchData.length !== 0) {
                    event_keyup = setTimeout(()=>{
                        this.ajax_loading  = true;
                        ApiGet('v2/projects',{
                            type:'search',
                            fields:'name,id,address',
                            limit:10,
                            keyword:this.searchData
                        }).then(res=>{
                            this.dataShow = [{id:0,name:'Dự án khác'},...res.data];
                            this.optionsData =  this.dataShow;
                            this.ajax_loading  = false;
                        }).catch(error=>{
                            console.error('search project error');
                            this.ajax_loading  = false;
                        })
                        event_keyup = null;
                    },500);
                } else {
                    this.dataShow = this.optionsData;
                }
            },
            // optionsData:function(){
            //     if(this.dataVal&&this.optionsData){
            //         var find_data = find(this.optionsData,{id:this.dataVal});
            //         if(find_data){
            //             this.dataSelect.name = find_data.name;
            //             this.searchData = this.dataSelect.name;
            //             this.$emit('input', {
            //                 value:this.dataSelect.id
            //                 , valid: this.valid
            //                 , message: this.message
            //             })
            //         }
            //     }
            // }
        },
        methods:{
            stopEventKeyup(){
                setTimeout(()=>{
                    event_keyup=null;
                },200)
            },
            onSelect(data) {
                event_keyup = 'stop';
                setTimeout(()=>{
                    this.dataShow = this.optionsData;
                    this.searchData = data.name;
                    this.dataSelect = data;
                    this.$emit('input', {
                        id: data.id
                        , name: data.name
                        , message: this.message
                        , valid: this.valid
                    })
                    this.stopEventKeyup();

                },200);
            },
            closeOption(){
                event_keyup = 'stop';
                setTimeout(()=>{
                    this.show_option=false;
                    this.searchData = this.dataSelect.name;
                    // event_keyup=null;
                    if(this.required=='1'&&this.dataSelect.name==''){
                        this.valid = false;
                        this.message = "Vui lòng chọn 1 mục"
                    }
                   this.stopEventKeyup();
                },200);
            }
        }
    }
</script>
