<template>
    <main  class="main">
        <breadcrumb :title="`Cập nhật tin: ${title}`"></breadcrumb>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-body">
                        <news :news="news"></news>
                        <tab-address :address="address"></tab-address>
                        <contact :contact="contact"></contact>
                        <media :media="media"></media>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-submit bg-success" @click="updateClassified" style="margin-right: 10px"> <font-awesome-icon icon="save"></font-awesome-icon> Lưu</button>
                        <button class="btn btn-submit bg-danger"> <font-awesome-icon icon="closed-captioning"></font-awesome-icon> Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {faLocationArrow, faPencilRuler, faPhotoVideo,faSave,faClosedCaptioning} from '@fortawesome/free-solid-svg-icons'
    import TabAddress from "@/components/Classified/Address"
    import Contact from "@/components/Classified/Contact"
    import Media from "@/components/Classified/Media"
    import MixinsClassified from "@/mixins/createClassified"

    library.add(faLocationArrow);
    library.add(faSave);
    library.add(faClosedCaptioning);
    library.add(faPencilRuler);
    library.add(faPhotoVideo);
    import News from "@/components/Classified/News"
    import Breadcrumb from "@/components/Breadcrumb/index"
    let data_async = {};
    export default {
        name: "update",
        mixins:[MixinsClassified],
        async asyncData({store,route,router}){
            data_async = {};
            console.log('running async')
           await ApiGet(`v3/classifieds/${route.params.id}`,{
               fields_extra:'att_id',
               access_token:store.getters.ACCESS_TOKEN,
               permissions:'manage_data'
           }).then(res=>{
               let data = res.data;
               console.log('data:',data);
                data_async = {
                    title:data.title,
                    news: {
                        title: {
                            value: data.title
                            , valid: true
                            , message: 'nhập tiêu đề'
                        },
                        category: {
                            id: data.cat_id
                            , label: ''
                            , valid: true
                            , message: 'chọn danh mục'
                        },
                        project: {
                            id: data.proj_id,
                            label: '',
                            valid: true,
                            message: 'chọn dự án'
                        },
                        attributes: {
                            value: data.att_id?JSON.parse(data.att_id):[],
                            label: '',
                            valid: true,
                            message: 'Chọn thuộc tính'
                        },
                        description: {
                            value: data.description,
                            label: '',
                            valid: true,
                            message: 'Nhập mô tả'
                        },
                        list_price:{
                            value: parseInt(data.list_price),
                            label: '',
                            valid: true,
                            message: 'Nhập giá'
                        },
                        list_acreage:{
                            value: parseInt(data.list_acreage),
                            label: '',
                            valid: true,
                            message: 'Nhập diện tích'
                        },
                        list_badroom:{
                            value: parseInt(data.list_badroom),
                            label: '',
                            valid: true,
                            message: 'Nhập phòng ngủ'
                        },
                        list_toilet:{
                            value: parseInt(data.list_toilet),
                            label: '',
                            valid: true,
                            message: 'Nhập phòng tắm'
                        },
                        feature:{
                            value: data.feature?JSON.parse(data.feature):{},
                            label: '',
                            valid: true,
                            message: 'Nhập thông tin nổi bật'
                        }
                    },
                    contact: {
                        phone: {
                            value: data.phone
                            , valid: true
                            , message: 'Nhập số điện thoại'
                        },
                        email: {
                            value: data.email
                            , valid: true
                            , message: 'Nhập email'
                        },
                        contact_name: {
                            value: data.contact_name
                            , valid: true
                            , message: 'Nhập tên'
                        }
                    },
                    address: {
                        address: {
                            value: data.address
                            , valid: true
                            , message: "Nhập địa chỉ"
                        },
                        cit_id: {
                            id: data.citid
                            , valid: true
                            , message: 'Chọn tỉnh/ thành phố'
                        },
                        dis_id: {
                            id: data.disid
                            , valid: true
                            , message: 'Chọn quận / huyện'
                        },
                        ward_id: {
                            id: data.wardid
                            , valid: true
                            , message: 'Chọn xã/thi trấn'
                        },
                        street_id: {
                            id: data.streetid
                            , valid: true
                            , message: 'Chọn đường/phố'
                        },
                        geo_location: {
                            value: {lat: data.lat, lng: data.lng}
                            , valid: true
                            , message: 'Đánh dấu bản đồ'
                        }
                    },
                    media: {
                        media: {
                            value: data.picture
                            , valid: true
                            , message: 'Đánh dấu bản đồ'
                        }
                    }
                };
           }).catch(e=>{
               console.log(e);
               Swal.fire({
                   title:'Có lỗi xảy ra',
                   text:'Vui lòng liên hệ admin để được hỗ trợ',
                   icon:'warning',
               });
               router.push('/');
               return;
           })
        },
        data(){
            let data ={};
            Object.keys(data_async).forEach(key => {
                data[key] =  data_async[key] ;
            });
            return data
        },
        components:{
            News,
            TabAddress,
            Contact,
            Media,
            Breadcrumb
        },
        methods:{
            updateClassified(){
                if(this.checkNews()&&this.checkAddress()&&this.checkContact()&&this.checkMedia(false)){
                    var form_data = {};
                    //news
                    form_data.title =this.news.title.value;
                    form_data.cat_id =this.news.category.id;
                    form_data.proj_id =this.news.project.id;
                    form_data.att_id =this.news.attributes.value;
                    form_data.description =this.news.description.value;

                    form_data.price =parseInt(this.news.list_price.value.replace(/,/g,''));
                    form_data.list_acreage =this.news.list_acreage.value;
                    form_data.list_badroom =this.news.list_badroom.value;
                    form_data.list_toilet =this.news.list_toilet.value;
                    form_data.feature = this.news.feature.value;
                    //contact
                    form_data.phone =this.contact.phone.value;
                    form_data.mobile =this.contact.phone.value;
                    form_data.email =this.contact.email.value;
                    form_data.contact_name =this.contact.contact_name.value;
                    //address
                    form_data.address =this.address.address.value;
                    form_data.citid =this.address.cit_id.id;
                    form_data.disid =this.address.dis_id.id;
                    form_data.wardid =this.address.ward_id.id;
                    form_data.streetid =this.address.street_id.id;
                    form_data.lat =this.address.geo_location.value.lat;
                    form_data.lng =this.address.geo_location.value.lng;
                    //media
                    form_data.picture =this.media.media.value;
                    form_data.access_token = this.access_token;
                    console.log('form data:',form_data);
                    ApiPut(`v2/classifieds/${this.$route.params.id}`,form_data).then(res=>{
                        if(res.status_code!=200){
                            if(res.status_code==503&&typeof res.message.copy!= "undefined"){
                                Swal.fire({
                                    title:'Nội dung bị trùng với tin đăng trước đó!',
                                    html:`<span style="color:red">${res.message.copy}</span>`,
                                    icon:'warning'
                                });
                            }else if(res.status_code==503&&typeof res.message.polixy!= "undefined"){
                                Swal.fire({
                                    title:'Nội dung chứa từ nóng!',
                                    html:`<span style="color:red">${res.message.polixy}</span>`,
                                    icon:'warning'
                                });
                            }else{
                                Swal.fire({
                                    title:'Lỗi cập nhật tin!',
                                    text:'Vui lòng liên hệ với quản trị trang để được hỗ trợ',
                                    icon:'error'
                                });
                            }
                        }else{
                            Swal.fire({
                                title:'Cập nhật tin thành công',
                                icon:'success'
                            }).then(value=>{
                                // this.$router.push('/')
                            });
                        }

                    }).catch(e=>{
                        console.error('update classified error',e);
                        Swal.fire({
                            title:'Lỗi!',
                            text:'Vui lòng liên hệ với quản trị trang để được hỗ trợ',
                            icon:'error'
                        });
                    })
                }
            }
        }

    }
</script>
