<template>
    <header class="app-header navbar" v-if="user_info!=null">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" @click="$store.commit('SET_OPEN_SIDEBAR',!open_sidebar)" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-full" src="/images/logo_web.png" height="25"
                 alt="Zilo.vn"/>
            <img class="navbar-brand-minimized" src="/images/logo_web.png" width="30" height="30" alt="Zilo.vn"/>
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" @click="$store.commit('SET_OPEN_SIDEBAR',!open_sidebar)" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/">Users</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/">Settings</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="/">
                    <font-awesome-icon icon="bell"/>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="/">
                    <font-awesome-icon icon="list"/>
                </a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="/">
                    <font-awesome-icon icon='location-arrow'/>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false" @click="profile_option=!profile_option">
                    <img class="img-avatar" :src="user_info.picture"/>
                </a>
                <div :class="`dropdown-menu dropdown-menu-right ${profile_option?'show':''}`" @click="profile_option= false">
                    <div class="dropdown-header text-center">
                        <strong>{{user_info.fullname}}</strong>
                    </div>
                    <router-link class="dropdown-item" to="/asdkhfkjashfjkds">
                        <font-awesome-icon icon="info-circle"/>
                        Thông tin</router-link>
                    <a class="dropdown-item" @click="logout">
                        <font-awesome-icon icon="sign-out-alt"/>
                        Đăng Xuất</a>
                </div>
            </li>
        </ul>
    </header>
</template>

<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {faBell, faList, faLocationArrow, faInfo, faFastBackward,faSignOutAlt,faInfoCircle} from '@fortawesome/free-solid-svg-icons'

    library.add(faBell);
    library.add(faList);
    library.add(faLocationArrow)
    library.add(faInfo);
    library.add(faFastBackward);
    library.add(faSignOutAlt);
    library.add(faInfoCircle)
    export default {
        name: "Header",
        data() {
            return {
                profile_option: false
            }
        },
        computed:{
            open_sidebar:function(){
                return this.$store.getters.OPEN_SIDEBAR
            },
            user_info:function(){
                return this.$store.getters.USER_INFO
            }
        },
        mounted(){
         if(typeof window.scollTopHead == "undefined"){
             var el_top = window.document.getElementById('app-breadcrumb');
             window.scrollTopHead = function(){
                 console.log('scrool top');
                 el_top.scrollTop = 55;
                 document.body.scrollTop = 0
             }
         }
        },
        methods:{
            logout(){
                this.$store.commit('SET_USER_INFO',null);
                this.$store.commit('SET_ACCESS_TOKEN',null);
                this.$store.commit('SET_USER_ID',null);
                Cookies.remove('access_token');
                Cookies.remove('user_id');
                Cookies.remove('_ga');
                this.$router.push("/dang-nhap");
            }
        }
    }
</script>
