<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a >Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" >
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="./">
                        <i class="icon-graph"></i> Dashboard</a>
                    <a class="btn" >
                        <i class="icon-settings"></i> Settings</a>
                </div>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    Card
                </div>
            </div>
        </div>
    </main>
</template>


<script>
    export default {
        name: 'app'
    }
</script>