<template>
    <div class="list-attr">
        <div class="attr-item-parent" v-for="(att_parent,index_p) in attributes" :key="`${index_p}_p`">
            <div class="attr-item-parent-name">{{att_parent.name}}</div>
            <div class="attr-item-list">
                <div class="attr-item-child" v-for="(att_child,index_c) in att_parent.attributes_child"
                     :key="`${index_c}_c`" v-if="attribute_show.includes(att_child.id)">
                    <span class="attr-item-name">{{att_child.name}}</span>
                    <label class="attr-item-checkbox pure-material-checkbox">
                        <input type="checkbox" v-model="att_selected_2" :value="att_child.id"/>
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    require('@/components/Form/Attribute/attribute.scss');
    import {find} from "lodash";

    export default {
        name: "Attribute",
        props:['cat_id','att_selected','required'],
        data(){
          return {
              att_selected_2:this.att_selected?this.att_selected:[],
              Valid : this.required==0?true:false
          }
        },
        watch:{
            att_selected_2:function(){
                if(this.required=='1'){
                    this.att_selected_2.length<1?this.Valid = false:this.Valid = true;
                }else{
                    this.Valid = true;
                }
                this.$emit('input', {
                    value: this.att_selected_2,
                    label: '',
                    valid: this.Valid,
                    message: ''
                })
            },
            cat_id:function(){
                this.att_selected_2 = [];
            }
        },
        computed: {
            attribute_show: function () {
                if(this.cat_id&&this.cat_id!==0){
                    var cat_find = find(this.categories,{id:this.cat_id});
                    if(cat_find){
                        return cat_find.att_id!=""?cat_find.att_id.map(item=>parseInt(item)):[];
                    }
                }
                return [];
            },
            categories: function () {
                return this.$store.getters.CATEGORIES;
            },
            attributes: function () {
                return this.$store.getters.ATTRIBUTES;
            },
        },
        beforeCreate() {
            this.$store.dispatch('ACTION_GET_ATTRIBUTE');
        }
    }
</script>