<template>
    <main  class="main">
        <breadcrumb title="Đăng tin"></breadcrumb>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    <my-form-wizard id="form_add" color="#3498db">

                        <tab-content
                                title="Nội dung"
                                icon="pencil-ruler"
                                :before-change="checkNews"
                        >
                            <news :news="news"></news>

                        </tab-content>

                        <tab-content
                                title="Vị trí"
                                icon="location-arrow"
                                id="position"
                                :before-change="checkAddress"

                        >
                            <tab-address
                                    :address="address"
                            ></tab-address>

                        </tab-content>

                        <tab-content
                                title="Liên hệ"
                                icon="newspaper"
                                :before-change="checkContact"
                        >
                            <contact
                                    :contact="contact"
                            ></contact>
                        </tab-content>

                        <tab-content
                                title="Media"
                                icon="photo-video"
                                :before-change="checkMedia"
                        >
                            <media :media="media"></media>
                        </tab-content>

                    </my-form-wizard>
                    <!--<my-component :data_prop="36454"></my-component>-->
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import MyFormWizard from '@/components/Form/MyFormWizard/MyFormWizard'
    import VueFormWizard from 'vue-form-wizard'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {faLocationArrow, faPencilRuler, faPhotoVideo} from '@fortawesome/free-solid-svg-icons'
    import TabAddress from "@/components/Classified/Address"
    import Contact from "@/components/Classified/Contact"
    import Media from "@/components/Classified/Media"

    library.add(faLocationArrow);
    library.add(faPencilRuler);
    library.add(faPhotoVideo);
    window.Vue.use(VueFormWizard);
    import News from "@/components/Classified/News"
    import Breadcrumb from "@/components/Breadcrumb/index"
    // import MyComponent from "@/components/MyComponent"
    import MixinsClassified from "@/mixins/createClassified"

    export default {
        name: "Create",
        mixins:[MixinsClassified],
        data() {
            return {
                loading: false,
            }
        },
        components: {
            MyFormWizard,
            News,
            TabAddress,
            Contact,
            Media,
            Breadcrumb,
            // MyComponent
        },
        mounted() {
            console.log('classified create mounted');
        },
        methods: {
            submitData(){
                var form_data = {};
                //news
                form_data.title =this.news.title.value;
                form_data.cat_id =this.news.category.id;
                form_data.proj_id =this.news.project.id;
                form_data.att_id =this.news.attributes.value;
                form_data.description =this.news.description.value;

                form_data.price =parseInt(this.news.list_price.value.replace(/,/g,''));
                form_data.list_acreage =this.news.list_acreage.value;
                form_data.list_badroom =this.news.list_badroom.value;
                form_data.list_toilet =this.news.list_toilet.value;
                form_data.feature = this.news.feature.value;
                //contact
                form_data.phone =this.contact.phone.value;
                form_data.mobile =this.contact.phone.value;
                form_data.email =this.contact.email.value;
                form_data.contact_name =this.contact.contact_name.value;
                //address
                form_data.address =this.address.address.value;
                form_data.citid =this.address.cit_id.id;
                form_data.disid =this.address.dis_id.id;
                form_data.wardid =this.address.ward_id.id;
                form_data.streetid =this.address.street_id.id;
                form_data.lat =this.address.geo_location.value.lat;
                form_data.lng =this.address.geo_location.value.lng;
                //media
                form_data.picture =this.media.media.value;
                form_data.access_token = this.access_token;
                console.log('form data:',form_data);
                ApiPost('v2/classifieds',form_data).then(res=>{
                    if(res.status_code!=200){
                        if(res.status_code==503&&typeof res.message.copy!= "undefined"){
                            Swal.fire({
                                title:'Nội dung bị trùng với tin đăng trước đó!',
                                html:`<span style="color:red">${res.message.copy}</span>`,
                                icon:'warning'
                            });
                        }else if(res.status_code==503&&typeof res.message.polixy!= "undefined"){
                            Swal.fire({
                                title:'Nội dung chứa từ nóng!',
                                html:`<span style="color:red">${res.message.polixy}</span>`,
                                icon:'warning'
                            });
                        }else{
                            Swal.fire({
                                title:'Lỗi đăng tin!',
                                text:'Vui lòng liên hệ với quản trị trang để được hỗ trợ',
                                icon:'error'
                            });
                        }
                    }else{
                        Swal.fire({
                            title:'Đăng tin thành công',
                            icon:'success'
                        }).then(value=>{
                            // this.$router.push('/')
                        });
                    }

                }).catch(e=>{
                    console.error('post classified error');
                    Swal.fire({
                        title:'Lỗi!',
                        text:'Vui lòng liên hệ với quản trị trang để được hỗ trợ',
                        icon:'error'
                    });
                })
            }
        }
    }
</script>