<template>
    <div>
        <div style="font-size:14px;color:#737373" >{{title}} : <span style="color: red" v-if="required&&required=='1'">*</span> <span  style="color: red"  v-if="isValid==false">{{message}}</span></div>
        <editor v-model="content" api-key="895uy2hp3q2xr3jr04tg39n97iyf4l1u8j6k7t2tjpnpgn4e" :init="config"></editor>
    </div>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';
    // commonjs require
    // NOTE: default needed after require
    // var Editor = require('@tinymce/tinymce-vue').default;
    export default {
        name: "FormEditor",
        props:['description','title','required'],
        data(){
          return {
              config:{
                  height: 500,
                  menubar: false,
                  autoresize_bottom_margin: 100,
                  plugins: [
                      ' lists print ',
                      '   fullscreen',
                      'table paste code help wordcount',
                      'autoresize'
                  ],
                  toolbar:
                      'undo redo | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
              },
              content:this.description?this.description:'',
              message:'',
              isValid:true
          }
        },
        watch:{
            content:function(){
                if(this.content.length<20){
                    this.message = "Mô tả quá ngắn";
                    this.isValid = false;
                }else if(this.content.length>100000){
                    this.message = "Mô tả quá dài";
                    this.isValid = false;
                }else{
                    this.message = "";
                    this.isValid = true;
                }
                this.$emit('input', {
                    value: this.content
                    , valid: this.isValid
                    , message: this.message
                })
            }
        },
        components:{
            Editor
        }
    }
</script>

<style scoped>

</style>