label{
  margin-bottom: 0 !important;
}
.col-lg-12{
  padding: 0 10px;
}
.post_mb{
  text-align: center;
}
.filter_mb{
  text-align: center;
}
.select_filter{
  display: none;
  margin-top: 10px;
}
.card-header{
  padding: 0.5rem 0.55rem;
}
.card-body{
  padding: 5px;
  .tr-item-cla{
    border-bottom: 1px solid #ccc;
    position: relative;
    display: block;
    .item-classified {
      padding: 8px 2px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: start;
      justify-content: flex-start;
      .cla-img-item {
        position: relative;
        img{
          width: 120px;
          height: 100px;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
      }
      .cla-description {
        margin-left: 5px;
      }
      .cla-title {
        font-size: 12px;
        font-weight: 500;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 34px;
        height: 34px;
        margin-bottom: 4px;
      }
      .cla-description-2{
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        .cla-price{
          font-weight: 600;
          color: #dd1717;
          font-size: 13px;
        }
        .cla-age {
          margin-left: 6px;
          font-weight: 600;
          font-size: 13px;
          color: green;
        }
      }
      .cla-id{
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
        .status_active {
          background: #00a65a;
          color: #fff;
          padding: 2px 4px;
          border-radius: 4px;
          font-size: 11px;
          margin-left: 6px;
        }
        .status_no_active {
          background: #dd4b39;
          color: #fff;
          padding: 2px 4px;
          border-radius: 4px;
          font-size: 11px;
          margin-left: 6px;
        }
      }
      .cla-date{
        font-size: 13px;
      }
    }
    .option-btn-mb {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.70196);
      bottom: 0;
      display: none;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      div:first-child {
        display: -webkit-box;
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      .eye_cla {
        background: #00a65a;
        padding: 4px 3px 4px 9px;
        height: 100%;
        border-radius: 4px;
      }
      .action_delete{
        background-color: #dd4b39;
        padding: 3px 8px 5px 8px;
        border-radius: 4px;
      }
      .action_active{
        background-color: #f39c12;
        padding: 5px 8px 5px 8px;
        border-radius: 4px;
        font-size: 12px;
        color: #fff;
      }
      .action_no_active{
        background-color: #f39c12;
        padding: 5px 8px 5px 8px;
        border-radius: 4px;
        font-size: 12px;
        color: #fff;
      }
      .action_edit{
        background-color: #d2d6de;
        padding: 3px 8px 5px 8px;
        border-radius: 4px;
      }
    }
    .show-option-btn-mb {
      display: -webkit-box!important;
      display: flex!important;
    }
  }
}
.pagination{
  justify-content: flex-end;
  margin-right: 10px;
}