<template>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <font-awesome-icon icon="home"/>
                        Trang chủ
                        <span class="badge badge-primary">NEW</span>
                    </a>
                </li>
                <li :class="`nav-item nav-dropdown ${open_menu==1?'open':''}`">
                    <a class="nav-link nav-dropdown-toggle hover-point" @click="open_menu!=1?open_menu=1:open_menu=0">
                        <font-awesome-icon icon="newspaper" style="font-size: 12px; margin-right: 4px"/>
                        Tin đăng</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/classifieds/create">
                                <i class="nav-icon"><font-awesome-icon icon="pencil-alt"></font-awesome-icon></i>
                                Đăng tin
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/classifieds">
                                <i class="nav-icon"><font-awesome-icon icon="list"></font-awesome-icon></i>
                                Danh sách tin
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/classifieds/1284996">
                                <i class="nav-icon"><font-awesome-icon icon="list"></font-awesome-icon></i>
                                /classifieds/1284996
                            </router-link>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {faHome, faNewspaper, faList,faPencilAlt} from '@fortawesome/free-solid-svg-icons'
    library.add(faPencilAlt);
    library.add(faHome);
    library.add(faList);
    library.add(faNewspaper);
    export default {
        name: "Sidebar",
        data() {
            return {
                open_menu: null
            }
        }
    }
</script>

<style>

</style>