<template>
    <component :is="$route.meta.layout">
        <router-view />
    </component>
</template>

<script>
    export default {
        name: 'app',
        data(){
            return {
                layout:'div'
            }
        },
        created(){
          console.log('create app');
        },
        // computed:{
        //     // layout:function(){
        //     //     return 'div';
        //     //     // return this.$store.getters.APP_LAYOUT;
        //     // }
        // },
        // beforeCreate(){
        //   console.log(this.$router);
        // },
        // beforeUpdate(){
        //   console.log('before update',this.$router);
        // },
        // watch:{
        //   // 'layout':function(){
        //   //     console.log('watch layout:',this.layout);
        //   // },
        //     '$route.name':function(){
        //         // this.layout = this.$router.options.routes.
        //       console.log('route change:',this.$route);
        //     }
        // },
        // beforeMount() {
        //     console.log('asdfds')
        // },
        // mounted() {
        //     console.log('333333333333')
        // }
    }
</script>
