<template>
    <div :class="`app header-fixed sidebar-fixed aside-menu-fixed pace-done ${open_sidebar?(is_mobile?'sidebar-lg-show sidebar-show':'sidebar-lg-show'):''}`">
        <app-header></app-header>
        <div class="app-body">
            <app-sidebar></app-sidebar>
            <router-view/>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import AppHeader from './components/App/Header/index'
    import AppFooter from "./components/App/Footer/index"
    import AppSidebar from "./components/App/Sidebar/index"

    export default {
        name: 'app',
        components: {
            AppHeader,
            AppFooter,
            AppSidebar
        },
        computed:{
            open_sidebar:function(){
                return this.$store.getters.OPEN_SIDEBAR;
            },
            is_mobile:function(){
                return this.$store.getters.IS_MOBILE;
            }
        }
    }
</script>
