.form-feature{
    .feature-title{
      font-size: 24px;
      color: #34383c;
      font-weight: bold;
    }
  .ft-main{
    .ft-item{
      padding: 20px 0;
      border-bottom: 1px solid #cccccc;
      grid-template-columns: 200px 1fr;
      .ft-item-key{
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        color: #73818f;
        span{
          margin-left: 10px;
        }

      }
      .ft-item-input{

        width: 100%;
        textarea{
          border-radius: 0;
          border: none;
          overflow: auto;
          outline: none;

          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;

          resize: none;
          border-bottom: 1px solid #73818f;
          width: 100%;

        }

        ::-webkit-scrollbar {
          width: 5px;
          color: #0d8aee;
        }

      }
    }
    @media (max-width: 767px) {
      .ft-item{
        padding: 10px 0;
        border-bottom:none;
        grid-template-columns:none;
        .ft-item-key{
          color: #282d32;
          span{
            margin-left: 0;
          }
        }

      }
    }
  }
}