<template>
    <div class="form-feature">
        <div class="feature-title">
            Ưu điểm bất động sản
        </div>
        <div class="ft-main">
            <div v-for="(fea_show,index) in feature_show"  :key="index" class="ft-item grid-column" >
                <div class="ft-item-key ">
                    <span>{{fea_show.title}} </span>
                </div>
                <div class="ft-item-input  ">
                    <textarea placeholder="Nhập mô tả" @change="setValue(fea_show.key)" v-model="fea_show.value"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import "@/components/Form/Feature/feature.scss"
    import {find} from "lodash";
    export default {
        name: "Feature",
        props:['cat_id','feature'],
        data(){
          return{
              key_select:null,
          }
        },
        computed:{
            feature_show:function(){
                let cat_find = find(this.$store.getters.CATEGORIES,{id:this.cat_id});
                if(cat_find){
                  let feature = JSON.parse(cat_find.feature);
                  if(feature){
                      var feature_return = {};
                      Object.keys(feature).forEach(key => {
                          feature_return[key] = {
                              title: feature[key],
                              key:key,
                              value:this.feature[key]?this.feature[key]:''
                          };
                      });
                      return feature_return;
                  }
                }
                return null;
            },
        },
        watch:{
            cat_id:function(){
                this.$emit('input',{
                    value: {},
                    label: '',
                    valid: true,
                    message: 'Nhập thông tin nổi bật'
                })
            }
        },
        methods:{
            setValue(key){
                this.feature[key] = this.feature_show[key].value;
                this.$emit('input',{
                    value: this.feature,
                    label: '',
                    valid: true,
                    message: 'Nhập thông tin nổi bật'
                })
            }
        }

    }
</script>