<template>
    <div>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "login",
        mounted() {
            console.log('render login');
        }
    }
</script>