$primary: #3498db;
$defNabBg: #edeff0;

.my-form-wizard {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #fff;
  border: 1px #ddd solid;
  border-radius: 3px;

  * {
    box-sizing: border-box;
  }

  ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    white-space: nowrap;

  }

  .wizard-nav {
    width: 100%;
    display: flex;
    border-bottom: 1px #ddd solid;
    overflow: hidden;
    .step {
      display: inline-block;
      height: 38px;
      background: $defNabBg;
      flex: 1 auto;

      > a {
        padding-left: 20px;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        color: #333;
        &:before,&:after{
          border: 16px solid transparent;
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          right: -16px;
          border-right: 0px;
          top: -4px;
          border-top-width: 24px;
          border-bottom-width: 24px;
        }
        &:before {
          border-left-color: #fff;
          z-index: 1;
        }

        &:after {
          border-left-color: $defNabBg;
          z-index: 2;
          right: -13px;
        }
       &.active{
          background: $primary;
         color: #fff;
         &:after{
           border-left-color: $primary;
         }
       }
      }

      &:first-child {
        padding-left: 0px;
        >a{
          padding-left: 0px;
        }
      }

      &:last-child {
        > a {
          &:before, &:after {
            border: none;
          }
        }
      }

      .step_content {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;

        > i {
          display: inline-block;
          font-size: 22px;
          height: 30px;
          line-height: 30px;
          vertical-align: text-bottom;
          margin-top: 4px;
        }

        > span {
          margin-left: 10px;
          display: inline-block;
          height: 30px;
          line-height: 30px;
          vertical-align: text-bottom;
        }
      }
    }
  }

  .wizard-tab-content {
    padding:8px;
  }
  .my-form-footer{
    width: 100%;
    display: flex;
    border-top: 1px #f2f2f2 solid;
    &>*{
      flex: 1 auto;
      padding: 8px;
    }
    .wizard-footer-right{
      text-align: right;
    }
  }
}
@media (max-width: 540px) {
  .my-form-wizard .wizard-nav .step .step_content > span.mb_hide{
    display: none;
  }
}
