<template>
    <li class="step">
        <a href="javascript:void(0)" class="step_content"
           :class="{disabled: !tab.checked,active:tab.active} "
           role="tab"
           :tabindex="tab.checked ? 0 : ''"
           :id="`step-${tab.tabId}`"
           :aria-controls="tab.tabId"
           :aria-disabled="tab.active"
           :aria-selected="tab.active"
        >
            <transition :name="transition" mode="out-in">
                <slot  v-if="tab.active" name="active-step">
                    <i v-if="tab.icon" class="wizard-icon"><font-awesome-icon  :icon="tab.icon" /></i>
                    <i v-else class="wizard-icon">{{index + 1}}</i>
                </slot>
                <slot v-if="!tab.active">
                    <i  v-if="!tab.active && tab.icon" class="wizard-icon"><font-awesome-icon :icon="tab.icon" /></i>
                    <i v-if="!tab.active && !tab.icon" class="wizard-icon">{{index + 1}}</i>
                </slot>
            </transition>
            <slot name="title">
                <span class="mb_hide">
                      {{tab.title}}
                </span>
            </slot>
        </a>
    </li>

</template>
<script>
    export default {
        name: 'wizard-step',
        props: {
            tab: {
                type: Object,
                default: () => {

                }
            },
            transition: {
                type: String,
                default: ''
            },
            index: {
                type: Number,
                default: 0
            }
        },
        computed: {
            iconActiveStyle () {
                return {
                    backgroundColor: this.tab.color
                }
            },
            stepCheckedStyle () {
                return {
                    borderColor: this.tab.color
                }
            },
            errorStyle () {
                return {
                    borderColor: this.tab.errorColor,
                    backgroundColor: this.tab.errorColor
                }
            },
            stepTitleStyle () {
                let isError = this.tab.validationError
                return {
                    color: isError ? this.tab.errorColor : this.tab.color
                }
            },
            isStepSquare () {
                return this.tab.shape === 'square'
            },
            isTabShape () {
                return this.tab.shape === 'tab'
            }
        }
    }
</script>
<style>
</style>
